* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #2D2832;
  --color-primary-window: #0f0e10;
  --color-frame:#2c2335;
  --color-secondary: #AA96BE;
  --color-tertiary: #514570;
  --color-4: #ac956a;
  --color-5: #a56e8a;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-button: #46325A;
  --color-button-disabled: #271539;
  --color-button-highlight: #5c4870;
  --color-font-1: #FFFFFF;
  --color-font-2: #d0c0e0;
  --color-link-1:#bd8de0;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
  --box-shadow-2: 5px 5px 3px 10px rgba(0, 0, 0, .5);
  --text-shadow-1:1px 1px 2px rgba(0,0,0,.5);
}

.theme2 {
  --color-primary: #855446;
  --color-primary-window: #ffd3bf;
  --color-frame:#352723;
  --color-secondary: #c47e6a;
  --color-tertiary: #f6ad7c;
  --color-white: #000000;
  --color-black: #ffffff;
  --color-button:#f5bc99;
  --color-button-disabled: #59220e;
  --color-button-highlight: #e3a685;
  --color-font-1: #000000;
  --color-font-2: #b65030;
  --color-link-1:#c73333;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
  --box-shadow-2: 5px 5px 3px 10px rgba(0, 0, 0, .5);
  --text-shadow-1:1px 1px 3px rgba(1,1,1,.5);
}

body {
  font-family: "Yantramanav", sans-serif;
  background-color: var(--color-primary);
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  display: none;
  background-color: var(--color-primary);
  animation: leaveAnim 0.5s ease-in-out;
}

.theme-btn {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--color-primary);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  position: relative;
  transition: 0.1s ease-in-out;
  color: white;
}
.theme-btn i {
  font-size: 2rem;
}
.theme-btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

input, textarea {
  color: var(--color-white);
  background-color: var(--color-tertiary);
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 1rem;
  margin-right: 1rem;
  width: 100%;
  resize: none;
}

h2 {
  margin: auto;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.Centered-Box {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 1vw;
}

.Button {
  margin: auto;
  background-color: var(--color-secondary);
  text-align: center;
  padding: 2vw;
  width: -moz-fit-content;
  width: fit-content;
}
.Button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  color: var(--color-white);
  text-decoration: none;
}

p {
  font-size: 1vw;
}

.CircleContainer {
  background-color: var(--color-secondary);
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 100%;
  padding: 5vw;
}

.CircleContainer-2 {
  background-color: var(--color-4);
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 100%;
  padding: 5vw;
}

.CircleContainer-3 {
  background-color: var(--color-5);
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 100%;
  padding: 5vw;
}

.CircleButton {
  margin: auto;
  background-color: var(--color-tertiary);
  text-align: center;
  padding: 1vw;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.CircleButton p {
  margin-top: 30%;
}
.CircleButton:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  transition: all 0.1s ease-in-out;
}
.CircleButton:hover p {
  font-size: 1.2vw;
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=styles.css.map */